*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
font-size: 10px;
font-family: 'Montserrat',sans-serif;
}

a{
  text-decoration: none;
}

#login-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

#login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 400px;
  background-color: white;
  padding: 50px 60px;
  border-radius: 15px;
}

#login-container h2{
  font-size: 2rem;
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: -5px;
}

#login-container h2::after{
  content: '';
  width: 310px;
  height: 4px;
  border-radius: 3px;
  background-color: antiquewhite;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

#input-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-field{
  background:#eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
}


#login-page label {
  margin-bottom: 8px;
}

#login-page input {
  margin-bottom: 16px;
  width: 100%;
  border: 2px solid;
  border-radius: 5px;
  outline: 0;
  padding: 18px 15px;
  background: transparent;
}

.input-field{
  margin-left: 15px;
  color: #9999;
}

#lost-password {
  text-align: center;
  margin-top: 15px;
}

#lost-password a {
  margin-left: 5px; 
  color: blue;
  text-decoration: none;
}

#lost-password a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#login-page button {
  margin-top: 25px;
  margin-left: 85px;
  width: 125px;
  padding: 5px;
  background-color: #C41E3A;
  color: white;
  cursor: pointer;  
  border-radius: 5px; 
}

#login-page button:hover{
  opacity: 0.7;
}

.landing-page-container{
text-transform: uppercase;
min-height: 100vh;
width: 100%;
display:flex;
align-items: center;
justify-content: center;
}

#landing-page{
background-image: url(ManDrinking.jpg);
background-size: cover;
background-position: top center;
position: relative;
z-index: 0;	
}

#landing-page::after {
content:'';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: black;
opacity: .7;
z-index: -2;
}

#landing-page h1{
display: block;
width: fit-content;
font-size: 6rem;
position: relative;
color: white;
}

#landing-page .landing-page{	
max-width: 1500px;
margin: 0 auto;
padding: 0 50px;
justify-content: flex-start;	
}

#landing-page h1 span{
position: absolute;
top: 0;
left: 0;
height: 100%;  
width: 0;
background-color: grey;
}


#landing-button{
display:flex;
align-items: center;
justify-content: center;
max-width: 300px;
border-style:solid;
border-color: white;
border-radius: 15px;
padding: 15px 0px;
color: white;
font-size: 2rem;
text-transform: uppercase; 
margin-top: 10px;
transition: 0.5s ease;
transition-property: color, color;
}

#landing-button:hover{
background-color: black;
opacity: .7;
color: white;
transform: translateX(10px);
cursor: pointer;
}

#landing-button::after{
opacity: .5;
cursor: grab;
}

#homepage{
min-height: 100vh; 
background: #739072;
}

.banner{
width: 100%;
background-color: #ECE3CE;
}